# Ignore everything
*

# But not these files...
!.gitignore
!lambda_function.py
!README.md
# ...even if they are in subdirectories
# !*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*
